.toast_android{
  top: 54px;
  position: fixed;
  width: 100%;
}
.toast_iphone{
  top: 44px;
  position: fixed;
  width: 100%;
}
.record{
  /*height: 500px;*/
}
.uploadbtn{
  border: none;
  outline: none;
  background: none;
  font-weight: revert;
  color: var(--attach_picker_tab_active_background);;
}

.post_setting{
  padding: 10px;
  padding-right: 6px;
}
textarea{
  resize: none;

}
.atoast{
  margin-top: 3px;
}
.ephoto{
  width: 100%;
  /*margin: 2%;*/
  margin-top: 20%;
}
.etext{
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  font-family: 'Roboto', sans-serif;
  color: #2a5885;
  font-size: 20px;

}
.etext2{
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  font-style: oblique;
  font-family: 'Roboto', sans-serif;
  color: #2a5885;
  font-size: 16px;
}
.constant_text{
  color: var(--text_secondary);
}
.noselect,.Footer .Header, .Div ,.Header__content ,div,body,textarea{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                           supported by Chrome and Opera */
}
.select {
  -webkit-touch-callout: default; /* iOS Safari */
  -webkit-user-select: all; /* Safari */
  -khtml-user-select: all; /* Konqueror HTML */
  -moz-user-select: all; /* Firefox */
  -ms-user-select: all; /* Internet Explorer/Edge */
  user-select: contain;
}
.textarea{
  maxLength:"240"
}
.activ_ico{
  /*color: var(--text-primary);*/
  color: var(--attach_picker_tab_active_background);
}
.passive_ico{
  color: var(--tabbar_inactive_icon);
  border-radius: 5px ;
}
